{% extends 'base.html' %}
{% block title %}
{{post.title_tag}}
{% endblock %}

{% block content %}

<h1>{{post.title}} id = {{post.author.id}}</h1>

<h2>{{post.author}}
    {{post.post_date}}
    {% if user.is_authenticated %}
       {% if user.id == post.author.id %} 

    <a href="{% url 'update_post' post.pk %}"> EDIT</a> 
    <a href="{% url 'delete_post' post.pk %}"> DELETE</a>
       {% endif %}
    {% endif %}
</h2>

<h3>{{post.body|safe}}</h3>

<a href="{% url 'home' %}" class="btn btn-primary">Back_to_home</a>
{% endblock %}
